# Build artifacts
backend/target/
frontend/node_modules/
frontend/dist/

# IDE configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log

# Environment variables & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
